.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr;

}

.dialogItem{
    padding: 10px;
    

}
.dialog{
    margin-top: 5px;
    color: rgb(228, 74, 82);
    font-weight: 500;
}
.active{
    font-weight: bold;
    text-shadow: 1px 1px  rgb(68, 67, 67);
}
 
.messages{
    padding: 10px;
}

  

